<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">

<head>
  <title>Portfolio</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta name="description" content="">
  <meta name="author" content="">


  <!-- Bootstrap Core CSS -->
	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
  <% stylesheet_link_tag "/css/freelancer", media: "all" %>

  <!-- Fonts -->
	<% stylesheet_link_tag "/css/font-awesome.min", media: "all" %>
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

</head>

<body <body id="page-top" class="index">>

<%= yield %>

</body>
</html>
